<footer class="footer bg-dark text-light text-center" style=>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 style="font-family: 'Baloo', sans-serif; color: #4AA3A2">Coordonnées</h3>
          <p style="color: #FEEAA1;">Adresse : 2 Rue Jean Mermoz, 91080 Courcouronnes</p>
          <p style="color: #FEEAA1;">Téléphone : 01 12 82 46 58</p>
          <p style="color: #FEEAA1;">Email : Countrystore@gmail.com</p>
        </div>
        <div class="col-md-6">
          <h3 style="font-family: 'Baloo', sans-serif; color: #4AA3A2">Liens utiles</h3>
          <ul class="list-unstyled">
            <li class="nav-item">
    <a class="nav-link" style="color: #FEEAA1;" href="{{ path('app_home') }}">
        <b>Accueil</b>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" style="color: #FEEAA1;" href="{{ path('app_contact')}}">
        <b>Contact</b>
    </a>
</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted mb-0">© 2023 Tous droits réservés.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Inclure les fichiers JavaScript de Bootstrap (jQuery et Popper.js sont requis pour Bootstrap) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

 

